
#endScreen {
    width: 80vw;
    margin-top: 20vw;
    margin-left: 10vw;
    /* margin: 5vw auto; */
    /* border: 2px solid white; */
    display: none;
    justify-content: center;
    border-radius: 20%;
}

#loss {
    color: #ffffff;
    font-size: 5vw;
    margin: auto;
    text-align: center;
}

#close {
    margin-top: 3%;
    margin-left: -7%;
    width: 3vw;
    height: 3vw;
    display: none;
}