/* @import 'content.css';
@font-face {
    font-family: "MultiTypePixel_Display";
    src: url("../fonts/MultiTypePixel Display.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
} */
